.App {
  height: 100vh;
  display: flex;
  color: white;
}

.App__Aside {
  background-color: #17b68c;
}

.App__Form {
  margin: auto;
  background-color: #ffffff;
      max-width: 40em;
}

.FormCenter {
    margin-top: auto;
    margin-bottom: auto;
}

.FormTitle {
  color: #707C8B;
  font-weight: 300;
  margin-bottom: 40px;
}

.FormTitle__Link {
    color: #c3ede2;
    font-size: 1.7em;
    margin: 0 25px;
    font-weight: bold;
}

.FormTitle__Link:first-child {
  margin-left: 0;
}

.FormTitle__Link--Active {
  color: #17b68c;
  font-weight: bold;
}

.FormTitle__Link:hover{
  color: #17b68c;
  font-weight: bold;
}

.FormField {
  margin-bottom: 40px;
}

.nopadding {
   padding: 0 !important;
}

.FormField__Input {
    width: 90%;
    
    border: none;
    color: black;

    border: 1px solid #d5d7da;
    font-size: 1em;
   /* font-weight: 300;*/
    padding: 16px 13px;
   
    border-radius: 10px;
}

.FormField__Input100 {
    width: 95%;
    
    border: none;
    color: black;

    border: 1px solid #d5d7da;
    font-size: 1em;
   /* font-weight: 300;*/
    padding: 16px 13px;
   
    border-radius: 10px;
}

.FormField__Input::placeholder {
  color: #616E7F;
}

.FormField__Button {
  background-color: #52C4B9;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: .8em;
  font-weight: 500;
}

.FormField__Link {
  color: #66707D;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid #225E62;
  padding-bottom: 5px;
}

.FormField__CheckboxLabel {
  color: #646F7D;
  font-size: .9em;
}

.FormField__Checkbox {
  position: relative;
  top: 1.5px;
}

.FormField__TermsLink {
  color: white;
  border-bottom: 1px solid #199087;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
}